#abstract{
    position: relative ;
    height: 50px;
    width: 1300px;
    background-color: #3e3e3e;
}
body{
    margin: 0px;
}
.button:active {
    background-color: black;
}
.button{
    height:49px;
    width:110px;
    font-size:15px;
    font-weight:800;
    background-color: #3e3e3e ;
    color: #9c9a94;
    border:none ;
}
.cartbutton:active {
    background-color: black;
}
.cartbutton{
    height:50px;
    width:100px;
    font-size:15px;
    font-weight:800;
    background-color: #3e3e3e;
    color: #9c9a94;
    border: none ;
    margin-left:600px;
}
#imgbutton{
    background-image: url(images/shopping_cart.png);
    background-repeat: no-repeat;
    background-position:left center;
    background-size: 19px 19px;
}
.abstrcats{
    position:absolute;
    width:1150px;
    height:350px;
    background-color: rgba(231, 222, 231, 0.8);
    left:75px;
    top:70px;
}
h1{
    position:relative ;
    width:900px;
    height:40px;
    left:30px;
    top:15px;
    font-size: 60px;
    font-family: sans-serif;
}
h2{
    position: relative ;
    width:1100px;
    height:100px;
    left:30px;
    top:9px;
    font-size: 20px;
    font-style:normal;
    font-weight: normal ;
    line-height: 150%;
}
h3 input{
    position:relative;
    left:30px;
    top:20px;
    background: rgba(48, 150, 247, 0.97);
    width:125px;
    height:48px;
    font-size: 20px;
    color: #fffbf4;
    border: none;
    border-radius: 8px;
}